{% extends "academic/base_academic.html" %}

{% block content %}
      <h2> Address </h2>
      <div class="address"> Department of Computer Science <br>
        Sandford Fleming Building <br>
        10 King's College Road <br>
        University of Toronto <br>
        Toronto, Canada M5S-3G4 <br>
        E-Mail: robere [at] cs [dot] toronto [dot] edu <br>
        Office: SF 4306 </div>
      <h2> Research </h2>
      I am a graduate student in 
      the DCS <a href="http://www.cs.toronto.edu/theory/"> Theory
        Group</a> at the University of Toronto, where I am very grateful to be supervised by <a
        href="http://www.cs.toronto.edu/%7Esacook"> Stephen Cook</a>
      and <a
        href="http://www.cs.toronto.edu/~toni"> Toni Pitassi</a>.
      My current research interests lie in different aspects of computational complexity and algorithms, with a focus in circuit complexity.
      I also have an interest in the intersection of computer science and cognitive science (my primary collaboraters here are <a href="http://uni-osnabrueck.academia.edu/TarekRichardBesold"> Tarek Besold</a> and 
      <a href="http://www.cs.mun.ca/%7Eharold"> Todd Wareham</a>).
      My last project in this area saw the application of concepts in computational complexity to models of metaphor and concept re-representation.

      <h2> Education </h2>
	Ph.D. in Computer Science (2013-Present)<br>
	University of Toronto, Toronto, ON, Canada <br>
	Advisors: Stephen Cook and Toniann Pitassi <br>
	<br>
	M.Sc. in Computer Science (2012-2013) <br>
	University of Toronto, Toronto, ON, Canada <br>
	Advisors: Stephen Cook and Toniann Pitassi<br>
	<br>
	B.Sc.(Hons) in Computer Science (2007-2012) <br>
	Memorial University of Newfoundland, St. John's, NL, Canada <br>
	Minor: Mathematics <br>
	Graduated with First Class Distinction <br>
	Awarded the Medal for Academic Excellence in Computer Science. <br>
	<h2> Also... </h2>
	Outside of math and computers, my favorite hobbies are rock climbing and writing.
	I climb at <a href="http://www.joerockheads.com/joerockheadsflash.html">Joe Rockheads</a>, where I have met some of the best people.
	I love improv --- I am a former <a href="http://www.facebook.com/stanleybraxtonimprov">Stanley</a>, and I was a trainer with the <a href="http://improv.ca/"> Canadian Improv Games</a> for several years --- and I still try and get out to jam every now and then.
	I also maintain a <a href="http://cshouse.ca"> website</a> with three other idiots.
{% endblock content %}
