{% extends academic/base_academic.html %}

{% block content %}
<h2> Teaching </h2>
<h3> Fall 2014 </h3>
Teaching Assistant for <a href="http://www.cs.toronto.edu/~toni/Courses/438-2014/438.html"> CSC438/2404 - Computability and Logic. </a> <br>
<h3> Summer 2014 </h3>
Teaching Assistant for <a href="http://www.cs.toronto.edu/~lalla/csc373"> CSC373 - Algorithm Design and Analysis. </a> <br>
<h3> Winter 2014 </h3>
Course Instructor for <a> CSC373 - Algorithm Design and Analysis. </a> <br>
<h3> 2013 </h3>
Teaching Assistant for <a href="http://www.cs.toronto.edu/~kaveh/csc373h/">
  CSC373 - Algorithm Design and Analysis</a>. <br>
Teaching Assistant for <a href="http://www.cs.toronto.edu/~sam/teaching/263/">
  CSC263 - Data Structures and Analysis</a>. <br>
Teaching Assistant for <a href="http://www.cs.toronto.edu/~bor/373s13/index.html">
  CSC373 - Algorithm Design and Analysis</a>. <br>
<h3> 2012 </h3>
Teaching Assistant for <a href="http://www.cs.utoronto.ca/%7Ebor/2420f12/">CSC2420
  - Algorithm Design, Analysis, and Theory (Graduate)</a>. <br>
Teaching Assistant for <a href="http://www.cs.toronto.edu/%7Esiavosh/csc373h/">
  CSC373 - Algorithm Design and Analysis</a>. <br>
Teaching Assistant for <a href="http://www.cs.utoronto.ca/%7Etff/165/">CSC165 -
  Mathematical Expression and Reasoning for Computer Science</a>.
{% endblock %}
